/Profile output.txt
/UserSettings.txt
/README.md
*.pdb
*.dll
/Project Files/.vs/
/Project Files/temp_files/
*.vcxproj.user
*.settings
*.zip
*.log
*.vcxprojAssemblyReference.cache
*.ini
*.bak
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/Project Files/Makefile.auto
/Project Files/checksums.txt
/Project Files/We The People - Assert.bat
/Project Files/We The People - Release.bat
/Project Files/We The People - FinalRelease.bat
/Project Files/Boost-1.32.0
/Project Files/Python24
.idea